/*--------------------------------------------------------------------------------------*/
/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 80px 10px;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    max-width: 685px;
    width: 100%;
}

.header__logo {
    width: 100%;

    max-width: 350px;
}

.header__wrapper nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header__wrapper nav ul li a {
    font-weight: 400;
    font-size: 24px;
}

.header__wrapper nav ul li a.active::before {
    width: 100%;
}

.burger {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 5px;

    width: 35px;
}

.burger span {
    width: 100%;
    height: 6px;

    border: 0.50px solid var(--txt);
}

.burger::before,
.burger::after {
    content: "";

    width: 100%;
    height: 6px;

    border: 0.50px solid var(--txt);
}

@media (max-width: 700px) {
    .header__wrapper nav {
        display: none;
    }

    .header__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .header__logo {
        width: 50%;
    }

    .burger {
        display: flex;
    }
}


/*--------------------------------------------------------------------------------------*/
/* main */

.main__wrapper {
    display: flex;
    gap: 20px;
}

.main__img {
    flex: 0 0 25%;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    gap: 20px;

    flex: 0 0 calc(50% - 40px);
}

.main__content-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__content-txt p {
    font-weight: 400;
    font-size: 24px;
}

@media (max-width: 1200px) {
    .main__content-txt p {
        font-weight: 400;
        font-size: 15px;
    }
}

@media (max-width: 770px) {
    .main__img {
        display: none;
    }

    .main__content {
        flex: 1 0 100%;
    }
}


/*--------------------------------------------------------------------------------------*/
/* articles*/

.articles .wrapper h2 {
    margin-left: calc(50% - 350px);
}

.articles__wrapper {
    display: flex;
    gap: 15px;
}

.articles__item {
    flex: 0 0 calc(25% - 10px);
}

.articles__item.big {
    flex: 0 0 calc(50% - 10px);
}

.articles__item__content-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 325px;
}

.articles__item__content-1 p {
    font-weight: 400;
    font-size: 22px;
}

.articles__item__content-2 {
    display: flex;
    flex-direction: column;
    gap: 135px;
}

.articles__item__content-2__img {
    align-self: flex-end;

    width: 100%;
    max-width: 350px;
}

.articles__item__content-2__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.articles__item__content-2__block p {
    font-weight: 400;
    font-size: 22px;
}

.articles__item__content-3 {
    display: flex;
    flex-direction: column;
    gap: 125px;
}

.articles__item__content-3>div:last-of-type {
    width: 100%;
}

.articles__item__content-3__block {
    display: flex;
    gap: 15px;
}

.articles__item__content-3__block-img {
    width: 100%;
    max-width: 288px;
}

.articles__item__content-3__block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.articles__item__content-3__block-content p {
    font-weight: 400;
    font-size: 22px;
}

.articles__item__content-3__block-content>div:last-of-type {
    width: 100%;
    max-width: 355px;
}

.articles__item__content-3__block-content>div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 1250px) {
    .articles__wrapper {
        flex-wrap: wrap;
    }

    .articles__item {
        display: contents;
    }

    .articles__item__content-2 {
        display: contents;
    }

    .articles__item__content-1,
    .articles__item__content-2__img {
        flex: 0 0 calc(50% - 10px);
        max-width: none;
    }

    .articles__item__content-3 {
        gap: 20px;
    }

    .articles__item__content-3__block-content>div:last-of-type {
        max-width: 600px;
    }
}

@media (max-width: 710px) {
    .articles .wrapper h2 {
        margin-left: 0;
    }
}

@media (max-width: 650px) {

    .articles__wrapper {
        gap: 20px;
    }

    .articles__item__content-3,
    .articles__item__content-3__block {
        display: contents;
    }

    .articles__item__content-1 {
        align-items: center;

        width: 100%;
        flex: 1 0 100%;

        order: 0;
    }

    .articles__item__content-1>* {
        max-width: 60%;
        width: 100%;
    }

    .articles__item__content-2__img {
        align-self: start;

        order: 1;
    }

    .articles__item__content-3__block-img {
        max-width: none;
        flex: 0 0 calc(50% - 10px);

        order: 2;
    }

    .articles__item__content-2__block {
        width: 100%;
        flex: 1 0 100%;
        max-width: 70%;

        order: 3;
    }

    .articles__item__content-3__block-content {
        flex-direction: column-reverse;

        order: 4;
    }

    .articles__item__content-3>div:last-of-type {
        order: 5;
    }

    .articles__wrapper p {
        font-size: 15px;
    }
}

/*--------------------------------------------------------------------------------------*/
/* about */

.about__wrapper-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.about__wrapper-content__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 740px;
}

.about__wrapper-content__item p {
    font-size: 22px;
}

.about__wrapper-content__item a {
    margin-top: 15px;
}

@media (max-width: 650px) {

    .about__wrapper-content__item p {
        font-size: 15px;
    }

    .about__wrapper-content__item {
        gap: 10px;
    }

    .about__wrapper-content__item a {
        margin-top: 0;
    }
}

/*--------------------------------------------------------------------------------------*/
/* films */

.films__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.films__wrapper-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.films__wrapper-content__img {
    display: flex;
    gap: 20px;

    width: 100%;
    max-width: 58%;
}

.films__wrapper-content__img>div {
    flex: 0 0 calc(50% - 10px);
}

.films__wrapper-content-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

.films__wrapper-content-txt {
    display: flex;
    flex-direction: column;
    gap: 45px;

    flex: 0 0 calc(40% - 20px);
}

.films__wrapper-content-txt p {
    font-size: 22px;
}

@media (max-width: 1200px) {
    .films__wrapper-content-item {
        flex-wrap: wrap;
    }

    .films__wrapper-content-txt {
        flex: 1 0 100%;
    }

    .films__wrapper-content__img {
        max-width: 1005px;
    }

    .films__wrapper-content-txt {
        gap: 20px;
    }
}

@media (max-width: 650px) {

    .films__wrapper-content {
        gap: 5px;
    }

    .films__wrapper-content-txt p {
        font-size: 15px;
    }

    .films__wrapper-content__img {
        gap: 5px;
    }

    .films__wrapper-content__img>div {
        flex: 0 0 calc(50% - 2.5px);
    }
}


/*--------------------------------------------------------------------------------------*/
/* footer */

.footer {
    border-top: 1px solid var(--black);

    margin-top: 100px;
    padding-top: 55px;
    padding-bottom: 100px;
}

.footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    gap: 90px;

    max-width: 1280px;
    width: 100%;
}

.footer__wrapper__item:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 40px;

    max-width: 354px;

    margin-right: 30px;
}

.footer__wrapper__item-alt-logo {
    width: 55%;

    align-self: center;
}

.footer__wrapper__item-soc {
    display: flex;
    gap: 13px;
}

.footer__wrapper__item:first-of-type p {
    margin-top: 25px;
}

.footer__wrapper__item:not(:first-of-type) {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__wrapper__item:not(:first-of-type) p {
    font-weight: 400;
    font-size: 40px;
    color: var(--txt);
}

.footer__wrapper__item:not(:first-of-type) ul {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.footer__wrapper__item:not(:first-of-type) ul li a {
    font-weight: 400;
    font-size: 24px;
    color: var(--txt);
}

@media (max-width: 1000px) {

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .footer__wrapper__item:first-of-type {
        display: contents;
    }

    .footer__wrapper__item:first-of-type>* {
        max-width: 350px;
    }

    .footer__wrapper__item-logo {
        display: none;
    }

    .footer__wrapper__item-soc {
        justify-content: center;

        flex: 0 0 100%;

        max-width: none !important;
    }

    .footer__wrapper__item-soc a {
        width: 50px;
    }

    .footer__wrapper__item:not(:first-of-type) {
        flex: 0 0 calc(50% - 45px);
    }

    .footer__wrapper__item:first-of-type p {
        order: 5;
    }
}

@media (max-width: 650px) {

    .footer__wrapper {
        gap: 0;
    }

    .footer__wrapper__item-soc {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .footer__wrapper__item:not(:first-of-type) {
        align-items: center;

        flex: 0 0 100%;

        border-top: 1px solid var(--black);

        padding: 16px 0;
    }

    .footer__wrapper__item:last-of-type {
        border-bottom: 1px solid var(--black);
    }

    .footer__wrapper__item:not(:first-of-type)>nav,
    .footer__wrapper__item:not(:first-of-type)>ul {
        display: none;

        align-items: center;
    }

    .footer__wrapper__item:not(:first-of-type).active ul {
        display: flex;
    }

    .footer__wrapper__item:not(:first-of-type).active nav {
        display: flex;
    }

    .footer__wrapper__item:not(:first-of-type) p {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        text-align: center;
    }

    .footer__wrapper__item:not(:first-of-type) p::after {
        content: url("/images/icons/arrow-r.svg");

        transform: translateY(-5px);
    }

    .footer__wrapper__item:first-of-type p {
        margin-top: 52px;
    }

    .footer {
        padding-bottom: 20px;
    }

}

@media (max-width: 450px) {
    .footer__wrapper__item:not(:first-of-type) p {
        font-size: 20px;
    }

    .footer__wrapper__item:not(:first-of-type) p::after {

        transform: translateY(-2px);
    }
}


/*--------------------------------------------------------------------------------------*/
/* sex-main */

.sex-main {
    padding-top: 65px;
}

@media (max-width: 650px) {
    .sex-main {
        padding-top: 20px;
    }
}


/*--------------------------------------------------------------------------------------*/
/* specialist */

.specialist__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.specialist__wrapper-item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.specialist__wrapper-item__img {
    width: 100%;
    max-width: 355px;
}

.specialist__wrapper-item__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 480px;
}

.specialist__wrapper-item__content.test {
    max-width: 1075px;
}

.specialist__wrapper-item__content h2 {
    font-weight: 400;
    font-size: 32px;
    color: var(--txt);
}

.specialist__wrapper-item__content>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.specialist__wrapper-item__content p {
    font-weight: 400;
    font-size: 22px;
    color: var(--txt);
}

.specialist__wrapper-item__content button {
    margin-top: 12px;
}


@media (max-width: 768px) {
    .specialist__wrapper-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .specialist__wrapper-item__img {
        max-width: 60%;

        order: 1;
    }

    .specialist__wrapper-item__content {
        display: contents;
    }

    .specialist__wrapper-item__content h2 br {
        display: none;
    }

    .specialist__wrapper-item__content h2 {
        order: 0;
    }

    .specialist__wrapper-item__content>div {
        order: 2;
    }

    .specialist__wrapper-item__content button {
        width: 100%;

        order: 3;
    }
}

@media (max-width: 600px) {

    .specialist__wrapper-item__content h2 {
        font-size: 20px;
    }

    .specialist__wrapper-item__content p {
        font-size: 15px;
    }
}


/*--------------------------------------------------------------------------------------*/
/* specialist modal*/


.specialist__modal {
    position: absolute;
    top: 40px;
    right: 0;

    display: none;

    width: 100%;
    max-width: 500px;

    border: 1px solid var(--txt);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--back);

    padding: 64px 35px;

    z-index: 2;
}

.specialist__modal.active {
    display: block;
}

.specialist__modal-close {
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    border: 1px solid var(--txt);

    cursor: pointer;
}

.specialist__modal-close img {
    width: 100%;
    max-width: 20px;
}

.specialist__modal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.specialist__modal-wrapper h3 {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--txt);

    margin-bottom: 10px;
}

.specialist__modal-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 100%;
    max-width: 430px;
}

.specialist__modal-wrapper form input:not([type="date"]) {
    background: transparent;
    border-bottom: 1px solid var(--txt);

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--txt);

    padding-bottom: 18px;
}

.specialist__modal-wrapper form>div {
    width: fit-content;
}

.specialist__modal-wrapper form>div div {
    max-width: 33px;
}

.specialist__modal-wrapper form>div label {
    display: flex;
    align-items: center;
    gap: 15px;
}

.specialist__modal-wrapper form>div label p {
    font-weight: 400;
    font-size: 22px;
    color: var(--txt);

    opacity: 0;
}

.specialist__modal-wrapper form input[type="date"] {
    position: absolute;

    width: 100%;
    height: 100%;

    background: transparent;

    font-weight: 400;
    font-size: 22px;
    color: var(--txt);
}

.specialist__modal-wrapper form input[type='date']::-webkit-calendar-picker-indicator {
    width: 33px;
    height: 35px;

    opacity: 0;
}

.specialist__modal-wrapper form button {
    align-self: center;

    width: 100%;
    max-width: 315px;
}

@media (max-width: 768px) {
    .specialist__modal {
        position: fixed;
        top: 50%;

        transform: translateY(-50%);
    }
}

/*--------------------------------------------------------------------------------------*/
/* specialist btns*/

.specialist__btns {
    width: 100%;

    overflow: hidden;
    overflow-x: auto;

    padding-bottom: 5px;
}

.specialist__btns-wrap {
    display: flex;
    align-items: center;
    gap: 40px;

    width: max-content;
}

.specialist__btns-wrap-btn {
    font-weight: 400;
    font-size: 22px;
    color: var(--txt);

    border-bottom: 1px solid transparent;

    cursor: pointer;

    padding-bottom: 5px;
}

.specialist__btns-wrap-btn.active::before {
    width: 100%;
}

@media (max-width: 768px) {
    .specialist__btns-wrap {
        gap: 20px;
    }

    .specialist__btns-wrap-btn {
        font-size: 18px;
    }
}


/*--------------------------------------------------------------------------------------*/
/* log */

.log {
    padding-top: 65px;
}

.log__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.log__imgs {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    flex: 0 0 calc(55% - 10px);
}

.log__imgs-img {
    flex: 0 0 calc(50% - 10px);
}

.log__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    flex: 0 0 calc(45% - 10px);

    padding-right: 100px;
}

.log__form form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 100%;
}

.log__form form input:not([type="checkbox"]) {
    background: transparent;
    border-bottom: 1px solid var(--txt);
    outline: none;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--txt);

    padding-bottom: 18px;
}

.log__form form>div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.log__form form>div input {
    display: none;
}

.log__form form>div input+label {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--txt);
    width: 33px;
    height: 33px;

    cursor: pointer;
}

.log__form form>div input+label::before {
    content: url('/images//icons/check.svg');

    transition: 400ms;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;

    opacity: 0;
}

.log__form form>div input:checked+label::before {
    opacity: 1;
}

.log__form p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--txt);
}

.log__form>div p a {
    border-bottom: 1px solid var(--txt);

    padding-bottom: 9px;
}

@media (max-width: 1000px) {
    .log__form {
        padding-right: 20px;
    }
}

@media (max-width: 900px) {
    .log__imgs {
        display: none;
    }

    .log__form {
        flex: 1 0 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .log__form button {
        width: 100%;
    }
}